body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contenedor {
  background: white;
  width: 600px;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 8px;
  border: 1px solid #bfbfbf;
  background: #9ad5f7;
  cursor: pointer;
}

.tabs button.active {
  background: #fff;
  border-bottom: none;
  font-weight: bold;
}

label {
  font-size: 14px;
  margin-top: 8px;
  display: block;
}

input, select {
  width: 100%;
  padding: 6px;
  border: 1px solid #c4c4c4;
  margin-bottom: 8px;
}

.btn-guardar,
.btn-eliminar {
  width: 100%;
  background: #6a00ff;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-eliminar {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 1px solid #c4c4c4;
}

th {
  background: #f7f2e7;
  padding: 6px;
}

td {
  padding: 4px;
}